---
import Image from 'astro/components/Image.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { externalLinks } from '../data/external';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { rrss, email } = externalLinks;
---

<section class="pt-10 mb-10 flex flex-col gap-12" id="contact">
  <h2
    class="font-mono font-semibold text-xl text-cyan-200 text-center lg:text-start"
  >
    💬 {t('contact.title')}
  </h2>
  <section class="flex justify-center lg:justify-start items-center gap-10">
    <div
      class="flex flex-row gap-10 items-center justify-center lg:items-start lg:justify-start font-semibold"
    >
      {
        rrss.map((rrss) => {
          return (
            <a href={rrss.link} target="_blank">
              <div class="flex flex-row items-center gap-2 text-[1rem]">
                <Image
                  src={rrss.icon}
                  alt={rrss.name}
                  width={32}
                  height={32}
                  loading="lazy"
                />
                <p>{rrss.name}</p>
              </div>
            </a>
          );
        })
      }
      {
        (
          <a href={email.link} target="_blank">
            <div class="flex flex-row items-center gap-2 text-[1rem]">
              <Image
                src={email.icon}
                alt={email.name}
                width={32}
                height={32}
                loading="lazy"
              />
              <p>{email.name}</p>
            </div>
          </a>
        )
      }
    </div>
  </section>
</section>
