---
import Image from 'astro/components/Image.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { allProjects } from '../data/projects.js';
import ProjectsIcon from '../../public/icons/startup.webp';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const linkButtons = [
  {
    name: 'Preview',
    src: '/icons/link.svg',
  },
  {
    name: 'Code',
    src: '/icons/code.svg',
  },
];
---

<section class="pt-10 mb-10 flex flex-col gap-12" id="projects">
  <div class="flex items-center gap-4">
    <Image src={ProjectsIcon} alt={t('projects.title')} class="w-8 h-8" />
    <h2
      class="font-semibold text-xl text-cyan-200 text-center lg:text-start pb-2"
    >
      {t('projects.title')}
    </h2>
  </div>

  <article class="flex gap-24 md:gap-20 flex-col justify-center">
    {
      allProjects.map((project) => (
        <>
          <div class="flex flex-col items-center lg:flex-row gap-4 lg:gap-10">
            <Image
              class="rounded-3xl lg:w-2/5 lg:h-64 md:transition md:duration-300 md:ease-in-out md:hover:scale-105"
              src={project.img}
              alt={project.name}
              height={400}
              width={400}
              loading="lazy"
            />
            <div class="flex flex-col gap-6 justify-around">
              <div class="flex flex-col gap-3 items-center lg:items-start">
                <h3 class="text-xl font-bold primaryColor">{project.name}</h3>
                <div class="flex flex-row gap-2 justify-center lg:justify-start">
                  {project.tech.map((tech) => {
                    return (
                      <div
                        class={`${tech.class} flex flex-row text-sm items-center gap-1 border-gray-200 rounded-lg px-3 py-[0.20rem] cursor-default`}
                      >
                        <Image
                          src={tech.img}
                          alt={tech.name}
                          width={20}
                          height={20}
                          loading="lazy"
                        />
                        <p>{tech.name}</p>
                      </div>
                    );
                  })}
                </div>
              </div>
              <p class="primaryColor text-[1rem] text-center lg:text-start">
                {lang === 'en'
                  ? project.description_en
                  : project.description_es}
              </p>
              <div class="flex flex-row gap-3 text-[1rem] justify-center lg:justify-start">
                {linkButtons.map((button) => {
                  return (
                    <a
                      href={
                        button.name === 'Preview'
                          ? project.preview
                          : project.code
                      }
                      target="_blank"
                      class="flex flex-row items-center gap-2 rounded-xl px-3 py-[0.4rem] bg-slate-900 md:transition md:duration-200 md:ease-in-out md:hover:bg-slate-800"
                    >
                      <Image
                        src={button.src}
                        alt={button.name}
                        width={20}
                        height={20}
                        loading="lazy"
                      />
                      <p>{button.name}</p>
                    </a>
                  );
                })}
              </div>
            </div>
          </div>
        </>
      ))
    }
  </article>
</section>
